In [1]:
import pandas as pd
import numpy as np

print('Pandas Version: {}'.format(pd.__version__))

Pandas Version: 1.0.1

In [2]:
cd '/Users/Andres/Documents/PhD/JPLUS_Code/Datasets/JPLUS_DR2/'

/Users/Andres/Documents/PhD/JPLUS_Code/Datasets/JPLUS_DR2

In [3]:
import pickle

tiles, acor = pickle.load(open("jplus_dr2_6total.pkl", "rb"))

In [4]:
print(tiles.shape,acor.shape)

(1088,) (1088, 12)

In [5]:
indice = np.where(tiles == 66416)[0][0]
acor[indice]

array([-0.13142 , -0.123875, -0.108413, -0.135438, -0.148559, -0.129557,
       -0.116787, -0.11579 , -0.128453, -0.113144, -0.140228, -0.126505])

In [6]:
Aper_corrs = {'TILE_ID' : tiles, 'u_ApCor' : acor[:,0], 'J0378_ApCor' : acor[:,1],
              'J0395_ApCor' : acor[:,2], 'J0410_ApCor' : acor[:,3], 'J0430_ApCor' : acor[:,4],
              'g_ApCor' : acor[:,5], 'J0515_ApCor' : acor[:,6], 'r_ApCor' : acor[:,7],
              'J0660_ApCor' : acor[:,8], 'i_ApCor' : acor[:,9], 'J0861_ApCor' : acor[:,10],
              'z_ApCor' : acor[:,11]}

acor_6 = pd.DataFrame(Aper_corrs)

In [7]:
acor_6

,TILE_ID,u_ApCor,J0378_ApCor,J0395_ApCor,J0410_ApCor,J0430_ApCor,g_ApCor,J0515_ApCor,r_ApCor,J0660_ApCor,i_ApCor,J0861_ApCor,z_ApCor
0,62260,-0.067305,-0.081775,-0.088042,-0.078451,-0.073655,-0.086758,-0.080683,-0.089432,-0.089649,-0.082773,-0.097909,-0.120326
1,62264,-0.153053,-0.156317,-0.112697,-0.144307,-0.183361,-0.102693,-0.164793,-0.171816,-0.129803,-0.181409,-0.162150,-0.142092
2,62283,-0.118342,-0.113430,-0.136856,-0.117694,-0.105191,-0.107679,-0.123070,-0.122890,-0.116750,-0.102209,-0.126051,-0.159729
3,62308,-0.107960,-0.099276,-0.098348,-0.103724,-0.105235,-0.097673,-0.106273,-0.096004,-0.098246,-0.134421,-0.106637,-0.138034
4,62323,-0.169721,-0.105388,-0.101462,-0.107238,-0.167440,-0.096935,-0.111751,-0.110233,-0.098568,-0.137483,-0.142088,-0.143039
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,75815,-0.145221,-0.165813,-0.198835,-0.154833,-0.146091,-0.164674,-0.164125,-0.147723,-0.138558,-0.126829,-0.143649,-0.180408
1084,75851,-0.115645,-0.161114,-0.128501,-0.118509,-0.114102,-0.131011,-0.103261,-0.129108,-0.124620,-0.114639,-0.100015,-0.145043
1085,75862,-0.136267,-0.180321,-0.180754,-0.194164,-0.144896,-0.196823,-0.156467,-0.145562,-0.187867,-0.149328,-0.153144,-0.169225
1086,75868,-0.093423,-0.090887,-0.096068,-0.090578,-0.099311,-0.115449,-0.090040,-0.093465,-0.095317,-0.094401,-0.100464,-0.131701
1087,75875,-0.086470,-0.092660,-0.142254,-0.097929,-0.089002,-0.135691,-0.098596,-0.099723,-0.135083,-0.094031,-0.097951,-0.163251

(u,J0378,J0395,J0410,J0430,g,J0515,r,J0660,i,J0861,z)

In [8]:
import AstroTools

path = AstroTools.Path()
AstroTools.ChangeFolder(path , '/Users/Andres/Documents/PhD/JPLUS_Code/Datasets/')

df = AstroTools.Read_Dataset('JPLUS_DR2/JPLUS_DR2_SSPP_SDSS_DR12_Bright_Sources.csv', columns=np.arange(0,29))

Last path:  /Users/Andres/Documents/PhD/JPLUS_Code/Datasets/JPLUS_DR2
New path is: /Users/Andres/Documents/PhD/JPLUS_Code/Datasets/

In [9]:
df.TILE_ID.unique().shape

(611,)

In [10]:
df_result = pd.merge(df, acor_6, how='inner', on='TILE_ID')

In [11]:
print(df.shape, df_result.shape)

(6794, 29) (6794, 41)

In [12]:
Filters = list(AstroTools.Filters['JPLUS'])
Correction = list(AstroTools.Filters['Ax'])
A_Correction = list(acor_6.columns[1:])
    
dfcp = pd.concat([df_result[a].sub(df_result[b]).add(df_result[c]) for a, b, c in zip(Filters,Correction, A_Correction)],axis=1, keys=Filters).round(3)

In [13]:
dfcp

,uJAVA,J0378,J0395,J0410,J0430,gSDSS,J0515,rSDSS,J0660,iSDSS,J0861,zSDSS
0,17.395,17.354,17.590,17.464,17.571,17.413,17.404,17.199,17.195,17.012,16.965,17.021
1,17.116,17.123,17.139,17.052,17.055,17.017,17.028,16.860,16.787,16.714,16.863,16.649
2,17.648,17.564,17.146,16.277,16.020,15.378,15.291,14.619,14.513,14.397,14.333,14.314
3,17.449,17.315,17.275,16.665,16.576,16.169,16.031,15.685,15.652,15.535,15.509,15.485
4,16.340,16.154,15.991,15.405,15.331,14.957,14.820,14.531,14.500,14.417,14.406,14.398
...,...,...,...,...,...,...,...,...,...,...,...,...
6789,17.614,17.208,17.197,16.748,16.688,16.299,16.163,15.823,15.751,15.631,15.565,15.565
6790,17.603,17.274,17.188,16.910,16.860,16.658,16.545,16.399,16.388,16.304,16.338,16.326
6791,17.684,17.440,17.187,17.062,17.000,16.794,16.708,16.500,16.507,16.419,16.413,16.403
6792,17.464,17.198,16.969,16.741,16.655,16.489,16.357,16.189,16.179,16.096,16.114,16.085
6793,17.688,17.474,17.244,17.037,16.949,16.791,16.704,16.592,16.591,16.521,16.548,16.535

In [14]:
df_result[Filters]

,uJAVA,J0378,J0395,J0410,J0430,gSDSS,J0515,rSDSS,J0660,iSDSS,J0861,zSDSS
0,17.616,17.570,17.780,17.694,17.774,17.576,17.613,17.400,17.342,17.169,17.142,17.159
1,17.347,17.348,17.338,17.291,17.266,17.187,17.244,17.066,16.939,16.875,17.043,16.790
2,17.860,17.777,17.368,16.484,16.223,15.574,15.472,14.794,14.675,14.550,14.488,14.487
3,17.649,17.516,17.486,16.861,16.768,16.356,16.204,15.853,15.808,15.683,15.660,15.655
4,16.529,16.354,16.203,15.595,15.511,15.184,14.990,14.748,14.656,14.625,14.540,14.545
...,...,...,...,...,...,...,...,...,...,...,...,...
6789,17.811,17.396,17.383,16.935,16.862,16.472,16.325,15.973,15.899,15.769,15.685,15.706
6790,17.794,17.473,17.396,17.098,17.043,16.836,16.713,16.554,16.536,16.430,16.464,16.478
6791,17.875,17.638,17.395,17.249,17.183,16.972,16.876,16.655,16.655,16.545,16.539,16.555
6792,17.708,17.417,17.187,16.956,16.880,16.683,16.548,16.353,16.339,16.250,16.249,16.225
6793,17.856,17.653,17.414,17.212,17.112,16.946,16.855,16.746,16.726,16.650,16.682,16.681